html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Gemunu Libre";
}

.rows {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0 3rem 0;
}

.box {
  color: #fbf9ff;
  background-color: #b3b7ee;
  text-align: center;
  font-size: 4rem;
  width: 30%;
  height: 50vh;
  border: 0.1rem solid #6c91bf;
  box-shadow: 1rem 1rem 0.5rem rgba(160, 97, 212, 0.226);
}

h1 {
  text-align: center;
  font-size: 8rem;
}

h2 {
  border-bottom: 3px dotted #9395d3;
  background-color: #7880b5;
}
