html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: cornflowerblue;
  font-family: "Gemunu Libre";
  animation: fadeIn 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 6rem;
}

.box {
  color: #cdc8f6;
  background-color: #b3b7ee;
  text-align: center;
  font-size: 4rem;
  width: 30%;
  height: 60vh;
  border: thin solid black;
  box-shadow: 2rem 2rem 2rem #998af1;
  transition: all 400ms;
}

.container {
  margin: 5% auto 0 auto;
  width: 95%;
  height: 60%;
  background-size: cover;
  background-clip: border-box;
  background-repeat: no-repeat;
  background-position: center 25%;
}

h1 {
  color: #133c55;
  text-align: center;
  font-size: 6rem;
}

h2 {
  background-color: #858cbb;
}

p {
  color: #8b8bae;
  background-color: #b3b7ee;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

#pic-1 {
  background-image: url(img/Bean-Burrito.jpg);
}

#pic-2 {
  background-image: url(img/Waffle-Sandwich.jpg);
}

#pic-3 {
  background-image: url(img/Pizza.png);
}

#pic-4 {
  background-image: url(img/Chicken-Tenders.jpg);
}

#pic-5 {
  background-image: url(img/Chicken-Dumplings.jpg);
}

#pic-6 {
  background-image: url(img/Mozzarella-Sticks.jpg);
}

#pic-7 {
  background-image: url(img/Chicken.jpg);
}

#pic-8 {
  background-image: url(img/PB-and-J.jpeg);
}

#pic-9 {
  background-image: url(img/Fruits.jpg);
}

#b1:hover {
  transform: scale(1.2) translate(10vh) rotatex(360deg) rotateZ(360deg);
  border: 0.4rem dotted rgb(82, 111, 207);
}

#b2:hover {
  transform: scale(1.2) skewX(5deg);
  border: 0.4rem dotted rgb(44, 172, 211);
}

#b3:hover {
  transform: scale(1.2) translate(-10vh) rotatex(360deg);
  border: 0.4rem dotted rgb(126, 76, 219);
}

#b4:hover {
  transform: scale(1.2) translate(10vh) rotatey(-360deg);
  border: 0.4rem dotted rgb(199, 24, 190);
}

#b5:hover {
  transform: scale(1.2) skewY(5deg);
  border: 0.4rem dotted rgb(82, 85, 219);
}

#b6:hover {
  transform: scale(1.2) translate(-10vh) rotatez(360deg);
  border: 0.4rem dotted rgb(114, 35, 151);
}

#b7:hover {
  transform: scale(1.2) translate(10vh) rotatey(360deg) rotateZ(360deg);
  border: 0.4rem dotted rgb(89, 133, 173);
}

#b8:hover {
  transform: scale(1.2) skewX(-5deg);
  border: 0.4rem dotted rgb(161, 127, 224);
}

#b9:hover {
  transform: scale(1.2) translate(-10vh) rotatey(360deg) rotatez(360deg);
  border: 0.4rem dotted rgb(45, 88, 231);
}

@media screen and (max-width: 2100px) {
  main {
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .box {
    width: 45%;
  }

  p {
    font-size: 2.5rem;
  }

  #b1:hover {
    transform: scale(1.2) rotatex(360deg) rotateZ(360deg);
    border: 0.4rem dotted rgb(82, 111, 207);
  }

  #b2:hover {
    transform: scale(1.2) skewX(5deg);
    border: 0.4rem dotted rgb(44, 172, 211);
  }

  #b3:hover {
    transform: scale(1.2) rotatex(360deg);
    border: 0.4rem dotted rgb(126, 76, 219);
  }

  #b4:hover {
    transform: scale(1.2) rotatey(-360deg);
    border: 0.4rem dotted rgb(199, 24, 190);
  }

  #b5:hover {
    transform: scale(1.2) skewY(5deg);
    border: 0.4rem dotted rgb(82, 85, 219);
  }

  #b6:hover {
    transform: scale(1.2) rotatez(360deg);
    border: 0.4rem dotted rgb(114, 35, 151);
  }

  #b7:hover {
    transform: scale(1.2) rotatey(360deg) rotateZ(360deg);
    border: 0.4rem dotted rgb(89, 133, 173);
  }

  #b8:hover {
    transform: scale(1.2) skewX(-5deg);
    border: 0.4rem dotted rgb(161, 127, 224);
  }

  #b9:hover {
    transform: scale(1.2) rotatey(360deg) rotatez(360deg);
    border: 0.4rem dotted rgb(45, 88, 231);
  }
}

@media screen and (max-width: 1800px) {
  main {
    flex-direction: column;
  }

  .box {
    width: 75%;
  }
}
